h1 {
    color: #2d3f73;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para a div com os botões */
.button-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* Estilo para os botões */
.custom-btn {
    margin: 5px;
    width: 150px;
    background-color: #2d3f73;
    transition: transform 0.3s ease-in-out;
}

.custom-btn:hover {
    transform: scale(1.05);
}